// $theme-colors: {
//     "primary": #00301B;
//     "secondary": #0B1A50;
//     "trim": #A77230;
//     "text": #;
// }

$primary: #00301B;
$secondary: #0B1A50;
$trim: #A77230;
$text: #EFDFC9;


@import 'bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap";