#root {
  --primary: #000630;
  --secondary: #0B1A50;
  --tertiary: #00301B;
  --trim: #A77230;
  --text: #EFDFC9;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(var(--tertiary), var(--secondary));
  color: (var(--text))
}

#logo {
  background-image: url("./assets/1.svg");
  height: 10vh;
  width: 10vh;
}